manifest {
    homePage = 'https://github.com/iarcbioinfo/wsearch-nf'
    description = 'Microbiome analysis with usearch, vsearch and phyloseq'
    mainScript = 'wsearch.nf'
    defaultBranch = 'main'
}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/wsearch-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/wsearch-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/wsearch-nf_trace.txt"
}
